.repo {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #d0d7de;
  padding: 20px;
  line-height: 25px;
  margin: 25px;
  width: 50%;
}

.repos-container {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}

.repos {
  display: flex;
  flex-direction: row;
}

.header {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-left: 30px;
}

.bold {
  font-weight: 600;
}

.navbar-container {
  display: flex;
  background: #f6f8fa;
  justify-content: left;
  align-items: center;
  padding: 8px 20px;
  border: 1px solid #d0d7de;
}

.navbar-item {
  line-height: 30px;
  font-size: 18px;
  padding-right: 30px;
  color: #57605d;
  cursor: pointer;
}

.navbar-active-item {
  font-weight: 600;
  color: black;
}

.settings-container {
  margin: 30px;
}

.settings-logo {
  width: 60px;
  height: 60px;
}
