.repo {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #cccccc;
}

.repos-container {
  display: flex;
  flex-direction: column;
}

.repos {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.header {
  font-size: 18px;
  font-weight: 600;
}
