.repo {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #cccccc;
}

.repos-container {
  display: flex;
  flex-direction: column;
}

.repos {
  display: flex;
  flex-direction: row;
}

.header {
  flex: 1;
  width: 100%;
}
